<!DOCTYPE html>
<html>

<body>	
<h2>Sistema de ordenamiento ascendente</h2>


<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>

    </form>
    <form class="login-form">
  	 <label>Ingrese un número:</label>
   		 <input type="number" name="num" ng-model="homeVM.num" required>
      		<button data-ng-click="homeVM.order()">Ordenar</button>
         
    </form>
  </div>
</div>


</body>
<footer>
	<div class="container">
		<div class="row">
			
				<div class="col-md-12">
					© Derechos reservados 2017 <br>Edward Llanca
				</div>
		
		
			</div>
		</div>
	</div>
</footer>
</html>