<!DOCTYPE html>
<html>

<body>	
<h2>Sistema de ordenamiento ascendente</h2>


<div class="login-page">
  <div class="form">
  
    <form class="login-form" name="putNumber" role="formSearchRuc">
     <md-input-container>
	  	 <label>Ingrese un número:</label>
	   		<input type="number" name="num" md-maxlength="10" 
	   		 ng-keydown="homeVM.KeyCode($event);"
	   		 ng-model="homeVM.num" 
	   		required>
	   		
	   		<button data-ng-click="homeVM.order(num)">Ordenar</button>    
	  </md-input-container>    
    </form>
  </div>
</div>


</body>
<footer>
	<div class="container">
		<div class="row">
			
				<div class="col-md-12" id="right">
					© Derechos reservados 2017 <br>Edward Llanca
				</div>
		
		
			</div>
		</div>
	</div>
</footer>
</html>
